# Docker / Compose
SYMFONY_ENV=dev
NGINX_PORT=8080
DB_PORT=5432

# PostgreSQL
POSTGRES_USER=foliode
POSTGRES_PASSWORD=foliode
POSTGRES_DB=foliode
POSTGRES_URL=postgresql://foliode:foliode@db:5432/foliode?serverVersion=13&charset=utf8

# Backend
APP_SECRET=change-me-in-production
MAILER_DSN=smtp://mailhog:1025
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
CORS_ALLOW_ORIGIN=^https?://(localhost|127\\.0\\.1)(:[0-9]+)?$
VAR_DUMPER_SERVER=127.0.0.1:9912
JWT_PASSPHRASE=change-this-passphrase
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8080
API_CLIENT_URL=http://nginx_web
